:root {
  --main-bg-color: #d4b483;
  --sec-bg-color: #48a9a6;
  --main-outline-color: #e4dfda;
  --sec-outline-color: #4357ad;
  font-family: "Unica One", cursive;
}

.App {
  width: 100vwcd;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background: var(--main-bg-color);
}

.top-button{
    position: fixed;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    background-image: url(./Components/media/icons/992534.png);
    background-size: cover;
    cursor: pointer;
}
